{% extends "base.html" %}

{% block page_content %}
    {% if current_user.is_authenticated %}
    <h1>Welcome, {{ current_user.fullname }}!</h1>
    <h5>Your address is {{ request.environ.get('HTTP_X_FORWARDED_FOR', request.environ.get('REMOTE_ADDR')) }}</h5>
    {% block scripts %}
        {{super()}}
        <script>
        $(document).ready(function(){
            $("#accountfilter").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#accountlist li").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
        </script>
    {% endblock %}

    <input class="form-control" id="accountfilter" type="text" placeholder="Search..."><br>
    <ul class="list-group row" id="accountlist">
    {% for account in get_accounts(current_user.username) %}
        {% if not "ssh-" in account %}
            <li class="list-group-item d-flex justify-content-between align-items-center col-sm-6">
                <b>{{ get_account_description(account) }}</b>
                <a target="_blank" class="btn btn-sm btn-default"
                    href={{ url }}/aws/{{ account }}>
                    Launch Console</a>
                <a target="_blank" class="btn btn-sm btn-default"
                    href={{ url }}/awscreds/{{ account }}>
                    Get Credentials</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
    {% else %}
    <h1>Hello Stranger!</h1>
    <p>Access to this site is restricted to authorized users. All access is logged.</p>
    <p>Authorized Users, please <a href="{{ url_for('register') }}">Register</a> or <a href="{{ url_for('login') }}">Login</a>.</p>
    {% endif %}
{% endblock %}
